#admin-page a {
    text-decoration: none;
}

.panel-admin {
    font-size: 28px;
    text-align: center;
    padding: 40px;
}

.panel-activity-stream {
    padding: 5px;
}

.banner {
    background-image: url('../images/hanze.jpg');
    background-position: 50% 75%;
    background-size: cover;
    height: 150px;
}