html, body { 
	height: 100%;
	padding: 0;
	margin: 0;
}

.quarter {
	width: 50%;
	height: 50%;
	float: left;
	overflow: hidden;
	background: #F3F3F3;	
}
.description {
	font-size: 15px;
	display: -webkit-box;
	max-width: 480;
	margin: 0 auto;
	font-size: 21px;
	line-height: 1.4;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 290px;	
}

.title-bar{
	background-color: #FA8212;
	color:white;
}

.title-bar h1{
	margin:0;
	padding:20px;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

.table-holder{
	margin-bottom:-1px;
}

.table-holder *{
	font-size: 40px;
}

.smaller {
	height: ;
}

.smaller *{
	font-size: 25px;	
}

.company-image{
	/*margin-left: 100px;*/
	/*margin-top: 90px;*/
}

.table-holder{
	background: #f7f7f7;
	box-shadow: 3px 5px 1	5px rgba(0,0,0,0.1);
	border-radius: 20px;
}

.table-holder .panel-body{
	padding-top: 0;	
	margin-bottom: -30px;	
}
.qr-code{
	margin-top: -145px;
	
}
.user-image{
	max-height: 900px;
	max-width: 100%;
	width: 100%;
}
.title-bar{
	max-height: 95px;
	vertical-align: middle;
}
.title-bar h1{
	overflow: hidden;
}
.desc-title{
	font-size: 45px;
	margin-left: 14px;
	margin-top: 40px;
}
.company-image{
	position: relative;
}
.company-image img{
	position: absolute;
	left: 0;
	bottom: 0;
}
.spacer{
	width: 30px;
	height: 60px;
}
.user-image-holder{
	width: 100%;
	height: 820px;
	/*border: 1px solid red;*/
}

.advert {
	height: 210px;
	width: 1920px;
	padding-bottom: 25px;
	position: absolute;
	bottom: 0px;
}

.advert img {
	max-height: 210px;
	padding-left: 15px;
	padding-right: 15px;
}
