html, body { 
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	border-size: 5px;
	border-style: solid;
	border-color: white;
}

.quarter {
	width: 50%;
	height: 50%;
	float: left;
	overflow: hidden;
}
.shitz {
	font-size: 15px;
	display: -webkit-box;
	max-width: 480;
	margin: 0 auto;
	font-size: 21px;
	line-height: 1.4;
	-webkit-line-clamp: 9;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}